<% provide(:title, 'Help') %>
<h1>Help</h1>

<div id="help">
  <b>Players should have the choice of what game they wish to play.</b><br><br>

  The current <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=174347">queue system</a> is inefficient because it cannot react quickly to changes in demand for various types of games.  It also does not prioritize the best games since only a certain amount of hosts can present their games at one time.  Thus, we should prioritize games based on player interest.<br><br>

  This site is simply a large voting machine that displays a list of proposed games.  Players can create, join, and comment on each setup.  Once a setup gathers enough signups, the game can begin.<br><br>

  To use, simply create an account.  The rest should be fairly intuitive.<br><br>

  This site is a work in progress.<br><br>

  Current Functionality:<br><br>

  <ul>
    <li>Create, Edit games</li>
    <li>Change status on your hosted games</li>
    <li>Sort games by status or recently updated</li>
    <li>Signup/Leave games</li>
    <li>Comment on games</li>
  </ul>
</div>