<div class="center hero-unit">
  <h1>TL Mafia Queue</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" if !signed_in? %>
</div>

