<div id="topic_container">
  <div class="menu">
    <%= render 'topics/menu' %>
  </div>
  <% if @topics.total_pages > 1 %>
    <%= will_paginate @topics %><hr>
  <% end %>

  <div class="topics">
    <%= render 'topics/list' %>
  </div>
</div>