<table>
  <tr id="gameTableHeader">
    <td width="10%" height="35">Category</td>
    <td width="35%">Topic</td>
    <td width="15%">Topic Starter</td>
    <td width="18%">Signups</td>
    <td width="7%">Replies</td>
    <td width="15%">Last Update</td>
  </tr>
  <%= render @topics %>
</table>