<% provide(:title, 'All users') %>
<h1>All users</h1>
<hr>

<% if @users.total_pages > 1 %>
  <%= will_paginate %>
<% end %>

<ul class="users">
  <%= render @users %>
</ul>

<% if @users.total_pages > 1 %>
  <%= will_paginate %>
<% end %>