<tr id="gameTableHeader">
  <td width="5%" height="35">&nbsp</td>
  <td width="10%" height="35">Category</td>
  <td width="35%">Game Name</td>
  <td width="20%">Host</td>
  <td width="15%">Status</td>
  <td width="15%">Last Update</td>
</tr>