<tr id="gameTableHeader">
  <td width="5%" height="35">&nbsp</td>
  <td width="5%" height="35">Category</td>
  <td width="40%">Game Name</td>
  <td width="20%">Host</td>
  <td width="12%">Status</td>
  <td width="18%">Last Update</td>
</tr>