<table>
  <tr id="game_table_header">
    <td width="10%" height="35">Category</td>
    <td width="35%">Game</td>
    <td width="15%">Host</td>
    <td width="18%">Signups</td>
    <td width="7%">Replies</td>
    <td width="15%">Last Update</td>
  </tr>
  <%= render @games %>
</table>