<div class="post">
  <div class="post_header">
    <table>
      <tr>
        <td class="post_owner"><%= post.owner.name %> &nbsp; <%= post.created_at.strftime("%H:%M %b %d %Y") %></td>
      </tr>
    </table>
  </div>
  <div class="post_content">
    <%= post.content.bbcode_to_html.html_safe %>
  </div>
</div>