// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Game Show */

div.hostButtons {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 5px 0px;
  margin: 5px 5px;
}


/* Game Index */


.game_index_container {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  border-color: #999;
  table {
    width: 100%;
    tr {
      height: 30px;
    }
    .categoryTag {
      text-indent: 10px;
    }
  }
  #gameTableHeader {
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: -1px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .game_index_first_col {
    background-color: #FFF;
    a, a:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

table {
  width: 100%;
}