// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Game Show */

div.hostButtons {
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  padding: 5px 0px;
}

div.gameInfo {
  border: 1px solid black;
  margin: 10px 0px;
  div.hostInfo {
    background-color: #06C;
    text-indent: 10px;
    h3 {
      font-size: 1.0em;
      letter-spacing: 0px;
      color: #FFF;
      padding-top: 5px;
      margin-bottom: 0px;
    }
  }
  div.gameDescription {
    padding: 10px;
    background-color: #d9dde0;
    div.playerList {
      border-top: 2px solid #999;
      padding: 5px 0px;
      margin-top: 10px;
      h3 {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

