// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Game Show */

div.hostButtons {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 5px 0px;
}

div.post {
  border: 1px solid black;
  margin: 10px 0px;
  div.post_owner {
    background-color: #06C;
    h3 {
      font-size: 1.0em;
      letter-spacing: 0px;
      color: #FFF;
      padding: 5px 10px;
      margin-bottom: 0px;
    }
    td.post_header {
      width: 70%;
    }
    td.post_options {
      width: 30%;
      text-align: right;
      font-size: 10px;
      padding-right: 10px;
      a {
        color: #FFF;
        text-decoration: underline;
        &:hover {
          color: #FFF;
        }
      }
    }
  }
  div.gameDescription, div.content {
    padding: 5px 10px;
    background-color: #d9dde0;
  }
  div.playerList {
    border-top: 2px solid #999;
    padding-top: 5px;
    margin-top: 10px;
    h3 {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  div.replyBox {
    padding: 5px;
    background-color: #d9dde0;
    form {
      margin: 0 0px;
    }
  }
}

div.posts_container {
  
}


/* Game Index */

div.menu {
  margin-bottom: 10px;
  width: 100%;
  hr {
    margin: 10px 0px;
    border: 0;
    border-top: 1px solid #EEE;
  }
  td {
    padding-right: 20px;
  }
  td .current {
    padding-right: 20px;
    font-weight: bold;
    text-decoration: underline;
    background-repeat: no-repeat;
    background-position: right center;
  }
  td .ASC {
    background-image: url('/assets/up_arrow.gif');
  }
  td .DESC {
    background-image: url('/assets/down_arrow.gif');
  }
}

.game_index_container {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  border-color: #999;
  table {
    width: 100%;
    tr {
      height: 30px;
    }
    .categoryTag {
      text-indent: 10px;
    }
  }
  #gameTableHeader {
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: -1px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .Signups {
    background-color: #0065C6;
    color: #FFF;
    a {
      color: #FFF;
    }
  }
  .Pending {
    background-color: #FACB47;
    color: #000;
    a {
      color: #000;
    }
  }
  .Running {
    background-color: #74AB00;
    color: #000;
    a {
      color: #000;
    }
  }
  .Completed {
    background-color: #DDD;
    color: #000;
    a {
      color: #000;
    }
  }
  .game_index_first_col {
    background-color: #FFF;
    a, a:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

table {
  width: 100%;
}