// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Topic#show */

div.posts_container {
  border: 1px solid black;
  background-color: #d9dde0;
}

div.post {
  border: 1px solid black;
  margin: 10px 5px;
  div.post_header {
    background-color: #06C;
    border-bottom: 1px solid black;
    table {
      width: 100%;
    }
    td.post_owner {
      width: 70%;
      font-size: 1.0em;
      font-weight: bold;
      letter-spacing: 0px;
      color: #FFF;
      padding: 3px 10px;
    }
    td.post_options {
      width: 30%;
      text-align: right;
      font-size: 11px;
      padding-right: 10px;
      a, a:hover {
        color: #FFF;
        text-decoration: underline;
      }
    }
  }
}

div.post_content {
  padding: 5px 10px;
  background-color: #d9dde0;
  div.edit_time {
    text-align: right;
    font-size: 0.8em;
  }
}

div.replyBox {
  padding: 5px;
  background-color: #d9dde0;
  textarea {
    border-radius: 0px;
  }
}