// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Help */

#help {
  margin: 10px 0px;
  padding: 10px 0px;
  border-top: 1px solid #CCC;
}