<footer class="footer">
  <small>
    TL Mafia Queue
  </small>
  <nav>
    <ul>
      <li><%= link_to 'TL Mafia Forum', 'http://www.teamliquid.net/forum/index.php?viewdays=0&show_part=31' %></li>
      <li><%= link_to "Help",    help_path %></li>
    </ul>
  </nav>
</footer>